{% extends "question_template/base_template.html" %}

{% load crispy_forms_tags %}
{% block css %}
{% load static %}

<link rel="stylesheet"  type="text/css" href="{% static "css/password_reset_done.css" %}" />

{% endblock %}

{% block body %}

<div class="password_reset_done">
    <div class="card">
        <div class="card-body">

            <h2>Your password is reset and a confirmation email is sent to your mail id</h2>

            <form method="post">

                {% csrf_token %}
                {{ form|crispy }}

            <p>Password reset sent </p>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder. </p>

            </form>
        </div>
    </div>
</div>

{% endblock %}






