{% extends "allauth/allauth_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet"  type="text/css" href="{% static "css/allauth_view_profile.css" %}" />

<!-- <title>Edit Profile</title> -->

{% endblock %}

{% block body %}

<div id="myDiv" style="background-color: rgb(1, 26, 66); "> 

    <center> <h1 style="color: whitesmoke;"> <b>View Profile</b> </h1> </center>
    
    <!-- <li><a href="{% url 'edit_profile' %}"><button>Edit Profile</button></a></li> -->

    <div class="card-columns mx-auto d-flex justify-content-center col-12" style="width: 30rem;  float: center; background-color: #041a92;  color: whitesmoke; border: solid whitesmoke 2px;">
        <div class="card-body">                    

            <table style="width:100%">                

                <tr>
                    <th>Name:</th>
                    <td>{{ profile.full_name }}</td>
                </tr> 

                <tr>
                    <th>Date of Birth:</th>
                    <td>{{ profile.date_of_birth }}</td>
                </tr>

                <tr>
                    <th>Contact Number:</th>
                    <td>{{ profile.contact_number }}</td>
                </tr>

                <tr>
                    <th>Company Name:</th>
                    <td>{{ profile.company_name }}</td>
                </tr>

                <tr>
                    <th>Designation:</th>
                    <td>{{ profile.designation }}</td>
                </tr>

                <tr>
                    <th>About:</th>
                    <td>{{ profile.about }}</td>
                </tr>

            </table>

            <a href="{% url 'edit_profile' %}" id="a" class= "btn btn-blue font-semibold normal-case"> Edit Profile </a>

            
        </div>
    </div>    

</div>
   
{% endblock %}

