{% extends "question_template/base_template.html" %}
{% load crispy_forms_tags %}


{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/ask_question.css" %}">
<title>Forum</title>

{% endblock %}



{% block body %}
	
	<div class="container-fluid" style="background-color: rgb(1, 26, 66);">				
        <center> <h1 style="color: whitesmoke; padding-top: 20px;"> <b>What do you want to ask? </b></h1> </center>
        <br>


            <div class="card-columns mx-auto d-flex justify-content-center col-12" style="width: 65rem; float: center; color: whitesmoke; background-color: #041a92; border-radius: 30px; padding-top: 5px; padding-bottom: 20px; margin-bottom: 10px;">
                <div class="card-body">

                    <div class="card-columns mx-auto d-flex justify-content-center col-12" style="width: 40rem; float: center; color: whitesmoke; background-color: #041a92; border-radius: 30px;  margin-bottom: 10px; font-size: larger;">
                        <div class="card-body">

                            <form method="post"> 
                                {% csrf_token %}         
                                {{form|crispy}}                                          
                                <br>                                
                                <input style="float: right;" type="submit"  value="Save Question"> 
                            </form>  

                        </div>
                    </div>        

                </div>
            </div>
       
    </div>

{% endblock %}